version: "2"

services:
  backend:
    build: .
    command: "pipenv run gunicorn -w 4 -b 0.0.0.0:8045 --name offenegesetze_gunicorn \
      --log-level info --log-file /var/log/gunicorn.log offenegesetze.wsgi:application"
    volumes:
      - ./logs/:/var/log/
      - ./db.sqlite3:/code/db.sqlite3
      - ./data.sqlite:/code/data.sqlite
      - ./documents:/var/documents
      - ./static:/code/static
    ports:
      - 127.0.0.1:8045:8045
    links:
      - elasticsearch
    environment:
      OG_ELASTICSEARCH_URI: http://elasticsearch:9200/
    env_file:
      - offenegesetze.env

  elasticsearch:
    build: ./deps/elasticsearch/
    volumes:
      - ./data/elasticsearch-data:/usr/share/elasticsearch/data
      - ./data/elasticsearch-log:/var/log
    ports:
      - 127.0.0.1:9245:9200
    environment:
      - "discovery.type=single-node"
      - "cluster.routing.allocation.disk.threshold_enabled=false"
      - "cluster.routing.allocation.disk.watermark.low=3gb"
      - "cluster.routing.allocation.disk.watermark.high=2gb"
      - "cluster.routing.allocation.disk.watermark.flood_stage=1gb"

volumes:
  elasticsearch-data: {}
  elasticsearch-log: {}
