[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
django = "*"
elasticsearch-dsl = ">=7.0.0,<8.0.0"
dataset = "*"
"pypdf2" = "*"
gunicorn = "*"
django-rest-framework = "*"
coreapi = "*"
feedgen = "*"
raven = "*"
pdfrw = "*"
pyyaml = "*"
cython = "*"

[dev-packages]
pylint = "*"
ipdb = "*"

[requires]
python_version = "3.8"
